.product-gallery {
  position: relative;
}

.product-gallery header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-gallery .big-figure img {
  width: 100%;
}

.product-gallery .reg-figure {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}

.product-gallery .reg-figure img {
  width: 100%;
}

.product-gallery .modal-figure {
  width: 80%;
  position: fixed;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  border: 2px solid #222;
}

.modal-figure img {
  position: relative;
  width: 100%;
}

.modal-figure .arrow-container img {
  width: 20vw;
  z-index: 999;
}

.arrow-container .right-arrow {
  position: absolute;
  top: 50%;
  right: 1%;
}

.arrow-container .left-arrow {
  position: absolute;
  top: 50%;
  left: 1%;
  transform: rotate(180deg);
}
