@import url(header.css);
@import url(main-content.css);
@import url(footer.css);
@import url(animations.css);

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  position: relative;
}

body.no-scroll {
  overflow: hidden;
}

.main-container {
  margin: 0 auto;
  padding: 0;
  max-width: 1400px;
  border: 2px solid #333;
}
